{{- if and .Values.kratos.enabled (not .Values.kratos.generateJwks) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ default (printf "%s-kratos-jwks" .Release.Name) .Values.kratos.secretName }}
  labels:
    {{- include "agentarea.labels" . | nindent 4 }}
    app.kubernetes.io/component: kratos
  annotations:
    "helm.sh/resource-policy": "keep"
type: Opaque
data:
  jwks.json: {{ .Values.kratos.jwt.jwks_b64 }}
  jwks_public.json: {{ .Values.kratos.jwt.jwks_b64 }}
  jwks_b64: {{ .Values.kratos.jwt.jwks_b64 }}
{{- end }}
