{{- if .Values.temporal.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "agentarea.fullname" . }}-create-temporal-db
  labels:
    {{- include "agentarea.labels" . | nindent 4 }}
    app.kubernetes.io/component: create-temporal-db
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  template:
    metadata:
      labels:
        {{- include "agentarea.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: create-temporal-db
    spec:
      restartPolicy: Never
      containers:
        - name: create-db
          image: "postgres:alpine"
          imagePullPolicy: IfNotPresent
          command: ["sh", "-c"]
          args:
            - |
              echo "Checking/Creating temporal database..."
              export PGPASSWORD=$POSTGRES_PASSWORD
              psql -h {{ .Release.Name }}-postgresql -U $POSTGRES_USER -d postgres -tc "SELECT 1 FROM pg_database WHERE datname = '{{ .Values.temporal.database.name | default "temporal" }}'" | grep -q 1 || \
              psql -h {{ .Release.Name }}-postgresql -U $POSTGRES_USER -d postgres -c "CREATE DATABASE {{ .Values.temporal.database.name | default "temporal" }};"
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.global.secrets.postgresql }}"
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.global.secrets.postgresql }}"
                  key: password
{{- end }}
